<script setup lang="ts">
import {computed, Ref, ref} from 'vue'
const props = defineProps<{
  uselessSymbols: string[],
  usedGuesses: UsedLetter[][]

}>()

const currentInput: Ref<(undefined|string)[]> = ref([undefined, undefined, undefined, undefined, undefined, undefined]);
const inputOptions = [ '1', '2', '3', '4', '5', '6', '7', '8', '9','0', '+', '-', '/', '*'];
document.addEventListener('keydown', (event) => {
  if(inputOptions.includes(event.key)) {
    addCharacter(event.key);
  }
  if(event.key === 'Backspace') {
    backspace();
  }
  if(event.key === 'Enter') {
    submit();
  }
});
function addCharacter(character: string) {
  console.log('here');
  const firstUndefined = currentInput.value.findIndex((i) => i === undefined);
  console.log(firstUndefined);
  if(firstUndefined === -1) {
    return;
  }
  currentInput.value[firstUndefined] = character;
}
function backspace() {
  const lastNonUndefined = currentInput.value.map(a => a === undefined ? 'a' : 'b').lastIndexOf('b');
  if(lastNonUndefined === -1) {
    return;
  }
  currentInput.value[lastNonUndefined] = undefined;
}


const guessWithNoUndefined = computed(() => currentInput.value.filter(a => a !== undefined));
const emit = defineEmits(['guess'])

const submit = () => {
  emit('guess', {guess: guessWithNoUndefined.value});
  currentInput.value = [undefined, undefined, undefined, undefined, undefined, undefined];
}
</script>

<template>
  <div class="flex gap-8 flex-col">
    <div class="grid grid-cols-6 gap-y-2 gap-1">
    <div v-for="letter in currentInput" class="border flex justify-center items-center h-8 rounded w-8 text-xl border-gray-400 bg-gray-300 dark:border-gray-100 dark:bg-gray-700 dark:text-white">
          <span>{{letter === undefined ? '' : letter}}</span>
        </div>
    <template v-for="item in (6 - usedGuesses.length -1)">
      <div v-for="letter in 6" class=" opacity-50 border flex justify-center items-center h-8 rounded w-8 text-xl border-gray-300 bg-gray-200 dark:border-gray-100 dark:bg-gray-700 dark:text-white">
       <span></span>
      </div>
    </template>
    </div>
        <div>
        <div class="grid grid-cols-3">
          <button @click="addCharacter(inputOption)" v-for="inputOption in inputOptions" class="border rounded p-2 inline-block m-1 text-xl"
          :class="{
            'border-green-500 bg-green-400 dark:border-green-900 dark:bg-green-800': !uselessSymbols.includes(inputOption),
            'border-gray-300 bg-gray-200 dark:border-gray-700 dark:bg-gray-600': uselessSymbols.includes(inputOption),
          }">
            {{inputOption}}
          </button>
          <button @click="submit" class="border rounded p-2 inline-block m-1 text-xl border-green-500 bg-green-400 dark:border-green-900 dark:bg-green-800">⏎️</button>
          <button @click="backspace" class="border rounded p-2 inline-block m-1 text-xl border-green-500 bg-green-400 dark:border-green-900 dark:bg-green-800">⬅️</button>

        </div>
        </div>
  </div>
</template>
