<script setup lang="ts">
import { Ref, ref } from 'vue'
const props = defineProps<{
  usedGuesses: UsedLetter[][]
}>()

</script>

<template>
  <div class="grid grid-cols-6 gap-y-2 gap-1">
    <template v-for="guess in usedGuesses">
        <div v-for="letter in guess" class="border flex justify-center items-center h-8 rounded w-8 text-xl" :class="{
          'border-green-500 bg-green-400 dark:border-green-900 dark:bg-green-800': letter.type === 'green',
          'border-gray-300 bg-gray-200 dark:border-gray-600 dark:bg-gray-700': letter.type === 'grey',
          'border-yellow-300 bg-yellow-200 dark:border-orange-600 dark:bg-orange-700': letter.type === 'yellow',
        }">
            <span>{{ letter.letter }}</span>
        </div>
    </template>

  </div>
</template>
